@import "./utils/variables";
@import "./base/coman";
@import "./components/_heder";
@import "./components/_hero";
@import "./components/modal";
@import "./components/sectionInfo";
@import "./components/sectionDoing";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolioNavigation";
@import "./components/portfolioMain";
