.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
  }
  .header__menu-button {
    position: absolute;
    right: 0;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 3;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .header__menu {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    .header__menu__item {
      display: inline;
    }
    .header__menu__link {
      display: block;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $color-black;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }
    .header__menu__link-portfolio {
      @media screen and (max-width: 767px) {
        padding: 35px 0 32px 0;
      }
      @media screen and (min-width: 768px) {
        padding: 0;
        margin: 0 50px;
      }
    }
    &__link:hover,
    &__link:focus {
      color: $color-primary;
    }
    .header__menu__link-active {
      position: relative;
      color: $color-primary;
    }
    @media screen and (min-width: 768px) {
      &__link-active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -30px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $color-primary;
        border-radius: 2px;
      }
    }
  }
  .header__logo {
    width: 145px;
    font-family: $first-font;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $color-primary;
    @media screen and (min-width: 480px) {
      margin-right: 284px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }

    .header__logo__item {
      color: $color-black;
    }
  }
  .header__menu-button .icon-cross {
    display: none;
  }
  .header__menu-button.is-open .icon-cross {
    display: block;
  }
  .header__menu-button.is-open .icon-menu {
    display: none;
  }
  .icon-cross:focus,
  .icon-menu:focus,
  .icon-cross:hover,
  .icon-menu:hover {
    fill: $color-primary;
  }
  .header__menu-container {
    background-color: #fff;
    padding: 48px 40px;
    font-size: 40px;
    overflow-y: scroll;
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      &.is-open {
        display: block;
        z-index: 2;
      }
    }
    @media screen and (min-width: 768px) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }
  .header__contacts {
    margin-top: 302px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 84px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row-reverse;
      margin-left: 305px;
    }
  }

  .header__contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $color-gray;
    text-decoration: none;
    @media screen and (min-width: 768px) {
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
  .header__contacts__link-tel {
    font-size: 34px;
    color: $color-primary;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      color: $color-gray;
      margin-bottom: 0;
    }
  }
  .header__contacts__link-mail {
    font-size: 24px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .header__contacts__mail {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill: currentColor;
    }
  }
  .header__contacts__tel {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      width: 10px;
      height: 16px;
      margin-right: 10px;
      fill: currentColor;
    }
  }
  .header__social-nav__menu {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 64px;
    margin-right: -30px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    .header__social-nav__item {
      margin-right: 20px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    .header__social-nav__link {
      text-decoration: none;
      color: $color-primary;
    }
  }
}
