.hero {
  width: 100%;
  height: 400px;
  text-align: center;
  background: #2f303a;
  padding: 118px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header-mobile 480.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 479px) {
    background-size: auto;
  }
  @media screen and (min-width: 480px) {
    background-size: 100vw;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
    min-height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Header-tablet 768.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Header-tablet 1536.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Img 1600.jpg");
    background-size: 1600px 600px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Img 3200.jpg");
    }
  }
}
.hero__name {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-white;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 696px;
  }
}
.hero__button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 32px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-white;
  background-color: $color-primary;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header-mobile 960.jpg");
}
