.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 40px;
  .modal__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-black;
    margin-bottom: 12px;
  }
  .modal__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: $color-gray;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
    margin-top: 10px;
  }
  .modal__form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 0 12px 42px;
    outline: none;
  }
  &__form-input:focus-within {
    border-color: $color-primary;
  }
  &__form-input:focus-within + &__ico {
    fill: $color-primary;
  }
  .modal__ico-person {
    position: absolute;
    left: 55px;
    top: 105px;
  }
  .modal__ico-phone {
    position: absolute;
    left: 55px;
    top: 172px;
  }
  .modal__ico-email {
    position: absolute;
    left: 55px;
    top: 240px;
  }
  .modal__textarea {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
  &__textarea:focus-within {
    border-color: $color-primary;
  }
  .modal__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 12px;
    .modal__footer__checkbox {
      position: relative;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $color-gray;
    }
    .modal__footer__link {
      color: $color-primary;
    }
    .modal__footer__button {
      max-width: 200px;
      padding: 10px 55px;
      margin: 0 auto;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: $color-white;
      background-color: $color-primary;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-color: $color-primary;
      cursor: pointer;
    }
    .modal__footer__icon {
      display: inline-block;
      margin-right: 7px;
      width: 15px;
      height: 15px;
      border: 2px solid black;
      border-radius: 4px;
    }
    .modal__footer__checkbox {
      appearance: none;
    }
    &__checkbox:checked + &__icon {
      border-color: $color-primary;
      background-color: $color-primary;
      background-image: url("../images/icon-check-one.svg");
      background-size: contain;
      background-origin: border-box;
    }
    .modal__footer__lable {
      display: flex;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
  }
  .modal__icon-closed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    fill: $color-black;
    cursor: pointer;
    box-sizing: border-box;
  }
  &__icon-closed:hover {
    fill: #03a9f4;
  }
}
