.information {
  // padding-top: 94px;
  padding-top: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
  }
  .information__menu { 
    margin-bottom: -30px;
    @media screen and (min-width: 768px) { 
       display: flex; 
       flex-wrap: wrap;
       margin-right: -30px;
  }
  @media screen and (min-width: 1200px){
    margin-bottom: 0;
  }
  }
  .information__item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {  
      width: 450px;    
  }
    @media screen and (min-width: 768px) {
      width: 354px;  
      margin-right: 30px;  
      
    }
    @media screen and (min-width: 1200px){
      width: 270px;
      margin-bottom: 0;
    }
  }
  
  
  .information__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;   
    background-color: $color-svg;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px){
      width: 270px;
    }
  }
  .information__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 10px;
    text-align: center;
     @media screen and (min-width: 768px) {
       text-align: left;
     }     
  }
  .information__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-gray;
  }
}
