* {
  padding: 0;
  margin: 0;
}
body {
  font-family: $second-font;
  font-style: normal;
  font-weight: normal;
  color: $color-black;
  margin: auto;
  // margin-right: -100px;
  overflow-x: hidden;
  @media screen and (min-width: 480px) {
    overflow-x: scroll;
  }
}
body.modal-open {
  overflow: hidden;
}
li {
  list-style-type: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 479px) {
    max-width: 479px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
