$color-primary: #2196f3;
$color-black: #212121;
$color-gray: #757575;
$color-gray2: #afb1b8;
$color-white: #ffffff;
$color-button: #f5f4fa;
$color-svg: #f5f4fa;

$first-font: Raleway, sans-serif;
$second-font: Roboto, sans-serif;
